name: linting

on:
  push:
    branches:
      - main
  pull_request: null

jobs:
  tests:
    name: lintest
    runs-on: "ubuntu-latest"

    steps:
      - uses: actions/checkout@v4

      - uses: conda-incubator/setup-miniconda@v3
        with:
          python-version: 3.11
          channels: conda-forge,defaults
          channel-priority: strict
          show-channel-urls: true
          miniforge-version: latest

      - name: configure conda and install code
        shell: bash -l {0}
        run: |
          conda install --quiet \
            --file=requirements.txt
          python -m pip install --no-deps -e .
          conda install -y -q \
            flake8

      - name: lint
        shell: bash -l {0}
        run: |
          flake8 diffstar
